* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1210px;
    margin: auto;
    padding: 86px 24px;
}

.main-block {
    border-radius: 8px;
    background: #FFFFFF;
    padding: 56px 75px 32px 121px;
    background-image: url(../images/Книга\ 3D\ 2.png), url(../images/Rectangle\ 8.png);
    background-position: center right 75px, center right; 
    background-repeat: no-repeat; 
}

form {
    width: 50%;
    min-width: 370px;
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
}

.input, select, .password-input-block, .accept-btn-code-block {
    width: calc(50% - 10px);
}

.input-firstname, .input-lastname {
    margin-top: 15px;
}

.password-input-block {
    display: inline-flex;
    align-items: center;
    padding-right: 10px;  
}

.input-password {
    width: calc(100% - 20px);
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.input-password::placeholder {
    color: #BFBFBF;
}

hr {
    height: 1px;
    margin-top: 19px;
    margin-bottom: 20px;
    width: 100%;
    border: 0 none;
    background-color: #F5F5F5;
}

h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #595959;
}

.telephone-accept-block {
    width: 100%;
    display: inline-flex;
}

.accept-btn-code-block {
    display: inline-flex;
}

.input-code {
    max-width: 100px;
    margin-left: 10px;
}

.user-agreement-block {
    position: relative;
    margin-top: 76px;
    display: flex;
}

.custom-checkbox-agreement {
    top: 3px;
    position: absolute;
    margin-left: -24px;
    height: 16px;
    width: 16px;
    border: 1px solid #D9D9D9;
}

label[for=agreement] {
    top: 0;
    margin-left: 24px;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.error-block {
    margin-top: 14px;
    width: 100%;
    background-color: #FFF1F0;
    border: 1px solid;
    border-radius: 4px;
    border-color: #FFA39E;
    padding: 0 16px;
    visibility: hidden;
    min-height: 24px;
}

.error-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #595959;
}

.bottom-block {
    margin-top: 20px;
    flex-wrap: nowrap;
    display: inline-flex;
}

.btn.btn_lg.btn_cancel {
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.35355 0.646447C5.54882 0.841709 5.54882 1.15829 5.35355 1.35355L1.70711 5L5.35355 8.64645C5.54882 8.84171 5.54882 9.15829 5.35355 9.35355C5.15829 9.54882 4.84171 9.54882 4.64645 9.35355L0.646447 5.35355C0.451184 5.15829 0.451184 4.84171 0.646447 4.64645L4.64645 0.646447C4.84171 0.451184 5.15829 0.451184 5.35355 0.646447Z' fill='%238C8C8C' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.back-btn-text {
    display: none;
}

.btn.btn_lg.btn_primary {
    margin-left: 14px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.gift-block {
    display: inline-flex;
    margin-left: 33px;
    margin-top: 9px;
}

.gift-text-block {
    width: auto;
}

.gift-block h5 {
    font-style: italic;
    font-size: 13px;
}

.color-text-gift {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #FFA500;
}

.img-arrow {
    margin-top: 4px;
    padding-left: 8px;
    object-fit: scale-down;
}

@media (max-width: 1040px) and (min-width: 621px) {
    .container {
        padding: 86px 12px;
    }

    .main-block {
        padding: 56px 16px 46px;
        background-image: url(../images/book.png);
        background-size: 146px 162px;
        background-position: right 120px top 10px; 
    }

    .title {
        max-width: 60%;
    }

    form {
        width: 100%;
        margin-top: 61px;
    }

    .user-agreement-block {
        width: 100%;
    }

    .error-block {
        margin-top: 9px;
    }

    .bottom-block {
        margin-top: 9px;
    }

    .gift-block {
        display: none;
    }
}

@media (max-width: 620px) and (min-width: 302px) {
    body {
        background-image: none;
    }

    .container {
        padding: 0;
    }

    .main-block {
        border-radius: 0px;
        padding: 40px 0px 0px;
        background-image: url(../images/book.png);
        background-color: #E5E5E5;
        background-size: 146px 162px;
        background-position: center top 138px;    
    }

    .title {
        font-size: 20px;
        line-height: 28px;
        padding: 0 20px;
        text-align: center;
    }

    form {
        width: 100%;
        min-width: auto;
        margin-top: 224px;
        padding: 20px 20px;
        background-color: #FFFFFF;
    }

    .input {
        width: 100%;
        margin-top: 14px;
    }

    .password-input-block {
        width: 100%;
    }

    .input-password {
        margin-top: 0;
    }

    hr {
        margin-bottom: 6px;
    }

    .telephone-accept-block {
        flex-wrap: wrap;
    }

    .accept-btn-code-block {
        padding: 0;
        margin-top: 14px;
    }

    .input-code {
        width: 100px;
        margin-top: 0px;
    }

    .bottom-block {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column-reverse;
    }

    .btn.btn_lg.btn_cancel {
        width: 100%;
        margin-top: 14px;
        background-image: none;
    }

    .back-btn-text {
        display: block;
        color: #8C8C8C;
    }

    .btn.btn_lg.btn_primary {
        width: 100%;
        margin-left: 0px;
    }

    .gift-block {
        display: none;
    }
}
