* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1210px;
    margin: auto;
    padding: 86px 24px;
    height: 100%;
}

.main-block {
    border-radius: 8px;
    border: none;
    background: #FFFFFF;
    padding: 56px 121px 65px;
    background-image: url("data:image/svg+xml,%3Csvg width='1162' height='300' viewBox='0 0 1162 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1162 124.461L1113.58 109.832C1065.17 95.2042 968.333 65.9477 871.5 87.8901C774.667 109.832 677.833 182.974 581 197.602C484.167 212.23 387.333 168.346 290.5 153.717C193.667 139.089 96.8334 153.717 48.4167 161.031L0 168.346V300H48.4167C96.8334 300 193.667 300 290.5 300C387.333 300 484.167 300 581 300C677.833 300 774.667 300 871.5 300C968.333 300 1065.17 300 1113.58 300H1162V124.461Z' fill='%23E8EEF6' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0L28 33.4395C55 66.879 111 133.758 166 133.758C221 133.758 277 66.879 332 66.879C387 66.879 443 133.758 498 155.732C553 177.707 609 155.732 664 128.025C719 100.318 775 66.879 830 61.1465C885 55.414 941 77.3885 996 116.561C1051 155.732 1107 211.146 1134 238.854L1162 266.561V300H1134C1107 300 1051 300 996 300C941 300 885 300 830 300C775 300 719 300 664 300C609 300 553 300 498 300C443 300 387 300 332 300C277 300 221 300 166 300C111 300 55 300 28 300H0V0Z' fill='%23BFC6FD' fill-opacity='0.5'/%3E%3C/svg%3E");
    background-position: center bottom; 
    background-repeat: no-repeat; 
}

.row {
    margin-top: 61px;
    display: flex;
    gap: 46px;
}

.link-block {
    width: 100%;
    border-color: #262626;
    padding: 32px 73px 39px 57px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.link-block:hover {
    border: 1px solid transparent;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15), 0 0 0 1.5px rgba(96, 112, 250, 1);
}

.link-block:hover .icon-svg {
    fill: #6070FA;
}

.link-block__title {
    margin-top: 20px;
}

.link-block__text {
    margin-top: 17px;

    font-weight: 400;
    font-size: 16px;
    color: #595959;
    line-height: 24px;
}

.bottom-link {
    margin-top: 110px;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.icon-svg {
    display: block;
    fill: #BFBFBF;
}

@media (max-width: 980px) and (min-width: 575px) {
    .main-block {
        padding-left: 18px;
        padding-right: 18px;
    }

    .row {
        flex-direction: column;
        gap: 20px;
    }

    .link-block {
        padding: 28px 39px 28px 30px;
    }

    .link-block__title {
        padding-left: 23px;
        display: inline;
    }

    .link-block__text {
        padding-left: 53px;
    }

    .icon-svg {
        float: left;
    }

    .bottom-link {
        margin-top: 42px;
    }

}

@media (max-width: 574px) and (min-width: 220px) {
    body {
        background-image: none;
        background-color: #EDEEF1;
    }
    .container {
        padding: 0;
    }
    .main-block {
        padding: 40px 20px;
        background-image: none;
        border-radius: 0;
        background-color: #EDEEF1;
        text-align: center;
    }

    .title {
        font-size: 20px;
        line-height: 28px;
    }

    .row {
        margin-top: 40px;
        flex-direction: column;
        gap: 20px;
    }

    .link-block {
        padding: 15px 19px 13px;
        text-align: left;
    }

    .link-block__title {
        margin-top: 0;
    }

    .icon-svg {
        display: none;
    }

    .bottom-link {
        margin-top: 40px;
    }
}
